.head {
    width: 100%;
    background-color: rgb(45, 42, 42);
    height: 70px;
    padding: 10px 0;
}
.logo {
    color: rgb(81, 236, 102);
  }
  
.header {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px;
}

.header-list {
    display: flex;
    gap: 20px;
}

li{
    width: 120px; 
    height: 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
li{
    width: 120px; 
    height: 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-header{
     border-radius: 20px;
}
.a{
    list-style-type: none;
    text-decoration: none;
}
.aa{
    color:#f8f9fa;
    font-size: 20px;
}
.aaa{
    color:greenyellow;
    font-size: 20px;
}

.aa:hover {
    color: greenyellow;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header-list {
        margin-left: 0;
        gap: 10px;
    }

    li {
        width: 100%;
        margin-right: 0; 
    }
}
