.container {
    background-color: #1b211d;
    height: 150dvh;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .zoneame {
    font-size: 24px;
    color: #fff;
  }
  
  .navButtons {
    display: flex;
    gap: 10px;
  }
  
  .navButton {
    background-color: #3a3e47;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navButtonActive {
    background-color: #D0C630;
    color: #000;
  }
  
  .cardsContainer {
    display: flex;
    gap: 20px;
  }
  
  .quizCard {
    background-color: #76CBF9;
    padding: 20px;
    border-radius: 10px;
    color: #000;
    width: 200px;
    text-align: center;
  }
  .link-createquiz{
    font-family: Arial, sans-serif;
    background-color: #3a3e47;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .link-createquiz-bg{
    font-family: Arial, sans-serif;
    background-color: #385f4c;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .contestCard {
    background-color: #D2DE37;
    padding: 20px;
    border-radius: 10px;
    color: #000;
    width: 200px;
    text-align: center;
  }
  