.footer {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 20px;
    flex-basis: 30%;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #61dafb;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin-left: 120px;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #61dafb;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #444;
    padding-top: 10px;
}
